
.Cuadro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:  100vh;
    padding: 0 80px;
    gap: 20px;
}

.space {
    position: relative;
    width: 50px;
    height: 75%;
}

.content {
    flex: 1;
    max-width: 50%;
}

.contenedor-disperso {
    flex: 1;
    position: relative;
    height: 85%;
    overflow: hidden;
    
}

.content p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

@media (max-width: 1250px) {
    .Cuadro {
        align-items: center; 
        padding-top: 20px;
        flex-direction: column;
    }
    .content {
        position: absolute;
        top: 15%;
        width: 85%;              /* Un poco más ancho para que se vea mejor */
        margin-left: 0%;       /* Centra el contenedor si es necesario */
        margin-right: 5%;
    }
    .contenedor-disperso {
        display: none;
    }
    .content {
        max-width: 80%;
    }
    
}

.BTN {
    margin-top: 20px;       /* Espacio entre el párrafo y el botón */
    padding: 10px 25px;     /* Tamaño del botón */
    background-color: #004bee; /* Color azul que usas en el hover de tus enlaces */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
    width: 75px;
    height: auto;
    text-align: center;
    text-decoration: aliceblue;
}

.BTN:hover {
    background-color: #2a3d66; /* Un azul más oscuro al pasar el mouse */
}

.Cube-absoluto {
    position: absolute; /* Esto permite moverlos a cualquier coordenada */
    width: 300px;
    height: 300px;
    transition: transform 0.5s ease;
}

.Cube-absoluto:hover {
    z-index: 10;        /* Al pasar el mouse, el cubo se pone al frente */
    transform: scale(1.1);
}